.courses
{
    background-color: var(--mainColor);
    padding: 100px 0px;
}
.courses .courses-content
{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));
    gap: 20px;
}
.courses .course-box
{
    background-color: #031a3b;
    padding: 0px;
    cursor: pointer;
    transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
}
.courses .course-box:hover
{
    box-shadow: 1px 1px 4px #844fff31;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    background-color: #052147;
}
.courses .course-box:hover .info-container .btn-box::before
{
    width: 100%;
}
.courses .course-box .info-container
{
    padding: 20px;
}
.courses .course-box .image-container
{
    width: 100%;
    height: 170px;
    overflow: hidden;
}
@media (max-width: 767px) 
{
    .courses .course-box .image-container
    {
        width: 100%;
        height: 250px;
        overflow: hidden;
    }
}
@media (max-width: 400px) 
{
    .courses .course-box .image-container
    {
        width: 100%;
        height: 170px;
        overflow: hidden;
    }
    .courses
    {
        padding: 50px 0px;
    }
}  
.courses .course-box .image-container img
{
    width: 100%;
    height: 100%;
}
.courses .course-box h6
{
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
    -webkit-box-orient: vertical;
}
.courses .course-box .info-container p 
{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.514);
    font-size: 13px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3;
    -webkit-box-orient: vertical;
}
.courses .course-box .info-container .btn-box
{
    position: relative;
    display: block;
    width: fit-content;
    margin: 15px auto 0px auto;
    padding: 13px 20px; 
    text-decoration: none;
    color: white;
    background-color: rgb(255, 46, 46);
    font-size: 15px;
    overflow: hidden;
}
.courses .course-box .info-container .btn-box::before
{
    content: '';
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.096);
    transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
}
